<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Packet Sniffer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='alertManager.js') }}"></script>
    <script src="{{ url_for('static', filename='tableManager.js') }}"></script>
    <script src="{{ url_for('static', filename='fetchService.js') }}"></script>
    <script src="{{ url_for('static', filename='modalManager.js') }}"></script>
    

</head>
<body>
    <div class="container">
        <h1>Configure and Start Packet Sniffer</h1>
    
        <!-- Form for Starting Sniffer -->
        <form id="startCaptureForm" action="/start_sniffer" method="post" class="sniffer-form">
            <div class="form-group">
                <label for="interface">Select Interface:</label>
                <select name="interface" id="interface">
                    {% for interface in interfaces %}
                        <option value="{{ interface.name }}">{{ interface.name }} ({{ interface.ip }})</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="form-group">
                <label for="protocol">Protocol:</label>
                <select name="protocol" id="protocol">
                    <option value="">Any</option>
                    <option value="tcp">TCP</option>
                    <option value="udp">UDP</option>
                    <option value="icmp">ICMP</option>
                    <option value="ip">IP</option>
                    <option value="ipv6">IPV6</option>
                    <option value="arp">ARP</option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="src_ip">Source IP:</label>
                <input type="text" name="src_ip" id="src_ip">
            </div>
    
            <div class="form-group">
                <label for="dst_ip">Destination IP:</label>
                <input type="text" name="dst_ip" id="dst_ip">
            </div>
    
            <div class="form-group">
                <label for="src_port">Source Port:</label>
                <input type="text" name="src_port" id="src_port">
            </div>
    
            <div class="form-group">
                <label for="dst_port">Destination Port:</label>
                <input type="text" name="dst_port" id="dst_port" placeholder="80 for HTTP, 443 for HTTPS, 53 for DNS">
            </div>
    
            <div class="form-group">
                <label for="custom_filter">Custom Filter (BPF Syntax):</label>
                <input type="text" name="custom_filter" id="custom_filter">
            </div>
    
            <div class="form-group">
                <label for="timeout">Timeout (seconds):</label>
                <input type="number" id="timeout" name="timeout" value="300">
            </div>
    
            <div class="form-group">
                <label for="capture_file">Enter File Name to Save Packets (with extension):</label>
                <input type="text" id="capture_file" name="capture_file" placeholder="e.g., capture.csv">
            </div>
    
            <!-- Buttons Container (Flexbox layout for buttons) -->
            <div class="buttons-container">
                <!-- Start Sniffer Button -->
                <div class="button-wrapper">
                    <form id="startCaptureForm" action="/start_sniffer" method="post"class="sniffer-form">
                        <input type="submit"  value="Start Sniffer" class="primary-button">
                    </form>
                </div>
    
                <!-- Stop Sniffer Button -->
                <div class="button-wrapper">
                    <form id="stopSnifferForm" action="/stop_sniffer" method="post" class="sniffer-form">
                        <input type="submit" value="Stop Sniffer" class="secondary-button">
                    </form>
                </div>
    
                <!-- Refresh Page Button -->
                <div class="button-wrapper">
                    <button id="refreshPageButton" style="display:none;" class="primary-button">
                        <img src="{{ url_for('static', filename='reload_icon.png') }}" alt="Reload Icon"> Refresh Page
                    </button>
                </div>
            </div>
        </form>
    
        <!-- Download Button (Initially hidden) -->
        <div id="downloadContainer" style="display: none;">
            <h3>Download Capture File:</h3>
            <a href="/download_capture" class="button" id="downloadButton">Download File</a>
        </div>
    </div>
    

    <h2>Sniffer Statistics</h2>
    <div id="statisticstableContainer">
        <table id="statisticsTable" class="display">
            <thead>
                <tr>
                    <th>Total Packets</th>
                    <th>Echo Request Count</th>
                    <th>Echo Reply Count</th>
                    <th>ARP Count</th>
                    <th>TCP Count</th>
                    <th>UDP Count</th>
                    <th>HTTP Count</th>
                    <th>DNS Count</th>
                    <th>ICMP Count</th>
                    <th>IP Count</th>
                    <th>IPv6 Count</th>
                    <th>Total Bytes Sent</th>
                    <th>Total Bytes Received</th>
                </tr>
            </thead>
            <tbody>
                <!-- Stats will be dynamically populated here -->
            </tbody>
        </table>
    </div>


    <h2>Attack Alerts</h2>
    <div id="alertGridContainer" class="alert-grid-container">
        <div class="alert-box" id="dns-tunneling">
            <h3>DNS Tunneling</h3>
            <ul class="attack-list"></ul>
        </div>
        <div class="alert-box" id="brute-force">
            <h3>Brute Force</h3>
            <ul class="attack-list"></ul>
        </div>
        <div class="alert-box" id="ddos">
            <h3>DDoS</h3>
            <ul class="attack-list"></ul>
        </div>
        <div class="alert-box" id="port-scan">
            <h3>Port Scan</h3>
            <ul class="attack-list"></ul>
        </div>
        <div class="alert-box" id="spoofing">
            <h3>Spoofing</h3>
            <ul class="attack-list"></ul>
        </div>
        <div class="alert-box" id="password-exfiltration">
            <h3>Password Exfiltration</h3>
            <ul class="attack-list"></ul>
        </div>
        <div class="alert-box" id="synflood">
            <h3>Synflood</h3>
            <ul class="attack-list"></ul>
        </div>
    </div>

    <!-- Modal for Alert Details -->
    <div id="alertModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Attack Details</h3>
            <div id="alertDetails">
                <!-- Detailed alert information will be displayed here -->
            </div>
        </div>
    </div>




    
    <h2>Flow Statistics</h2>

    <!-- Flow Statistics Table -->
    <div id="flowStatisticsTableContainer">
        <table id="flowStatisticsTable" class="display">
            <thead>
                <tr>
                    <th>Flow</th>
                    <th>Throughput (B/s)</th>
                    <th>Packet Delay (ms)</th>
                    <th>Jitter (ms)</th>
                    <th>Packet Loss (%)</th>
                    <th>RTT (ms)</th>
                    <th>TTL</th>
                    <th>Bandwidth Utilization (%)</th>
                </tr>
            </thead>
            <tbody>
                <!-- Flow stats will be dynamically populated here -->
            </tbody>
        </table>
    </div>

    <h1>Live Packet Capture</h1>
 
    <div id="tableContainer">
        <table id="packetTable" class ="display">
            <thead>
                <tr>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Source MAC</th>
                    <th>Destination MAC</th>
                    <th>IP Version</th>
                    <th>TTL</th>
                    <th>Checksum</th>
                    <th>Packet Size</th>
                    <th>Passing Time</th>
                    <th>Protocol</th>
                    <th>Identifier</th>
                    <th>Sequence</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

        <!-- Modal for Packet Details -->
    <div id="packetModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="packetDetails">
                <!-- Detailed packet information will be displayed here -->
            </div>
        </div>
    </div>
</body>
</html>
