<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Packet Sniffer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <h1>Configure and Start Packet Sniffer</h1>
    <form action="/start_sniffer" method="post">
        <label for="interface">Select Interface:</label>
        <select name="interface" id="interface">
            {% for interface in interfaces %}
                <option value="{{ interface.name }}">{{ interface.name }} ({{ interface.ip }})</option>
            {% endfor %}
        </select><br><br>

        <label for="timeout">Timeout (seconds):</label>
        <input type="number" id="timeout" name="timeout" value="300"><br><br>

        <!-- Input for selecting a file location -->
        <label for="capture_file">Select a File to Save Packets:</label>
        <input type="file" id="capture_file" name="capture_file" webkitdirectory directory mozdirectory placeholder="Optional"><br><br>
        <!-- Download Button (Initially hidden) -->
        <div id="downloadContainer" style="display: none;">
            <h3>Download Capture File:</h3>
            <a href="/download_capture" class="button" id="downloadButton">Download File</a>
        </div>

        <label for="verbose">Verbose:</label>
        <input type="checkbox" id="verbose" name="verbose"><br><br>

        <input type="submit" value="Start Sniffer">
    </form>

    <form action="/stop_sniffer" method="post">
        <input type="submit" value="Stop Sniffer">
    </form>

    <h2>Sniffer Statistics</h2>
    <div id="statistics">
        <!-- Statistics will be populated by JavaScript -->
    </div>

    <h1>Live Packet Capture</h1>

    <!-- Search Input Field -->
    <input type="text" id="searchInput" placeholder="Search packets..." onkeyup="filterTable()">

    <div id="tableContainer">
        <table id="packetTable">
            <thead>
                <tr>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Source MAC</th>
                    <th>Destination MAC</th>
                    <th>IP Version</th>
                    <th>TTL</th>
                    <th>Checksum</th>
                    <th>Packet Size</th>
                    <th>Passing Time</th>
                    <th>Protocol</th>
                    <th>Identifier</th>
                    <th>Sequence</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>
